.container {
    margin-top: 15vh;
}

h1 {
    font-size: 70px;
    margin-bottom: 50px;
}

.user-info {
    display: flex;
    gap: 15px;
    padding: 20px;
    background-color: #fd151b;
    border-radius: 15px;
    margin-bottom: 50px;
}

.user-info__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #d7ebf3;
    font-weight: 300;
    font-size: 24px;
}

.avatars {
    height: 100px;
    border-radius: 50%;
    border: 8px solid #d7ebf3;
}

p {
    margin-bottom: 50px;
    width: 80%;
}
.hidden {
    display: none;
}
