h1 {
    display: none;
}

.container {
    background-image: url('../assets/map.jpeg');
    background-size: cover;
}

#map-links {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blocked {
    pointer-events: none;
}
